/* You can add global styles to this file, and also import other style files */

@use "variables.scss";
@use "mixins.scss";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Martel+Sans&display=swap");

html {
  font-family: "Martel Sans", sans-serif;
  font-size: large;
}

body {
  margin: 0px;
  color: variables.$color-text-primary;

  app-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
}

a {
  text-decoration: none;
  color: unset;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: "Cinzel", serif;
}

h2 {
  padding: 150px 0 30px;
}

.btn {
  color: variables.$color-text-secondary;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: variables.$color-accent-active;
  border: none;
  border-radius: 50px;
  padding: 12px 50px;
  transition: all 200ms ease;
  text-transform: uppercase;
  font-size: unset;
  font-family: unset;
  white-space: nowrap;
  cursor: pointer;

  &.btn-del {
    background-color: variables.$color-error;
  }

  &:hover:not([disabled]) {
    background-color: variables.$color-accent;

    &.btn-del {
      background-color: variables.$color-error-active;
    }
  }

  h3 {
    margin: 0;
  }

  &[disabled] {
    background-color: variables.$color-text-secondary;
    color: #999;
    cursor: not-allowed;
  }
}

label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  select,
  input,
  textarea {
    transition: outline-color 300ms ease;
    padding: 5px 10px;
    outline: 3px solid transparent;
    @include mixins.outlined();

    &:focus {
      outline: 3px solid variables.$color-accent;
    }

    &.ng-touched.ng-invalid {
      @include mixins.error-outline();
    }
  }
}

app-input-tel.ng-touched.ng-invalid input {
  @include mixins.error-outline();
}

.model {
  box-shadow: 0 8px 16px 0 #555a;
  background-color: variables.$color-background;
  backdrop-filter: blur(4px);
  border-radius: 10px;
  max-width: 700px;
  opacity: 0.7;
  transition: all 200ms ease;

  .image-carousel img {
    height: 300px;
  }

  &:hover:not(.active) {
    transform: translateY(-10px);
  }

  &:hover,
  &.active {
    opacity: 1;
    box-shadow: 0 16px 24px 0 #555e;
  }

  &.active {
    min-width: 65%;

    .image-scroller {
      border-radius: 0;
    }

    .image-carousel img {
      height: 600px;
      margin: 1.5rem;
    }
  }
}

@media only screen and (max-width: variables.$medium-screen-size) {
  .model.active .image-carousel img {
    height: 300px;
  }
}

@media only screen and (max-width: variables.$small-screen-size) {
  html {
    font-size: medium;
  }

  .model {
    opacity: 1;

    &:hover:not(.active) {
      transform: none;
      box-shadow: 0 8px 16px 0 #555a;
    }

    &.active .image-carousel {
      img {
        margin: 0;
      }
    }
  }
}

@media only screen and (max-width: variables.$tiny-screen-size) {
  html {
    font-size: small;
  }

  h2 {
    padding-top: 30px;
  }
}
