$large-screen-size: 1600px;
$medium-screen-size: 1140px;
$small-screen-size: 860px;
$tiny-screen-size: 500px;

$color-accent: #008b8b;
$color-accent-active: #008080;
$color-error: #da4a67;
$color-error-active: #da3f5c;
$color-text-primary: #2a2b2a;
$color-text-secondary: #dbe9ee;
$color-background: #f4fdfd;

$color-contrast-light: #2f2f5a;
$color-contrast-dark: #48487e;
