$large-screen-size: 1600px;
$medium-screen-size: 1140px;
$small-screen-size: 860px;
$tiny-screen-size: 500px;

$color-accent: darkcyan;
$color-accent-faded: teal;
$color-text-primary: #222;
$color-text-secondary: #dfdfdf;
