<ng-container
  (keydown.ArrowRight)="nextImage()"
  (keydown.ArrowLeft)="previousImage()"
>
  <a class="model-content" routerLink="/model/{{ modelNumber }}">
    <h3>Model {{ modelNumber }}: {{ model.dimensions.join("×") }}</h3>
    <h4 class="price">
      {{ translationService.formatPrice(model.basePrice) }}
    </h4>
    <div
      class="image-carousel"
      (scroll)="selectedImage = getSelectedImage()"
      #imageCarousel
    >
      <img
        *ngFor="let i of images"
        id="model-{{ modelNumber }}-image-{{ i }}"
        class="model-image"
        src="
        assets/images/models/{{ modelNumber }}/image-{{ i }}.jpg
        "
        alt="model {{ modelNumber }} preview"
      />
    </div>
  </a>
  <div class="image-scroller">
    <button
      class="btn-image-scroller"
      (click)="previousImage()"
      title="{{ translationService.translations.products.prev }} {{
        translationService.translations.products.image
      }}"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      *ngFor="let i of images"
      class="indicator{{ i === selectedImage ? ' active' : '' }}"
      (click)="scrollToImage(i)"
      title="{{ translationService.translations.products.image }} {{ i }}"
    >
      <mat-icon>fiber_manual_record</mat-icon>
    </button>
    <button
      class="btn-image-scroller"
      (click)="nextImage()"
      title="{{ translationService.translations.products.next }} {{
        translationService.translations.products.image
      }}"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</ng-container>
