@import "variables.scss";

.model-content {
  display: inline-block;
  margin: 1.5rem;
}

.image-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
}

.image-scroller {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #d0d5d6;
  border-radius: 0 0 10px 10px;
  padding: 1.5rem;

  .btn-image-scroller {
    opacity: 0.5;
    margin: 0 0.5rem;

    mat-icon {
      transform: scale(2);
    }
  }

  .indicator {
    transition: opacity 200ms ease;
    opacity: 0.5;

    mat-icon {
      transform: scale(0.75);
      transition: transform 400ms ease;
    }

    &.active mat-icon {
      transform: none;
    }
  }

  button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    background: none;
    color: unset;
    cursor: pointer;
    transition: opacity 200ms ease;

    &:hover,
    &.active {
      opacity: 1;
    }
  }
}

h3 {
  font-weight: normal;
  font-size: 1.5rem;
}

.button-container {
  display: flex;
  justify-content: center;

  .btn {
    color: #eee;
  }
}

@media only screen and (max-width: $small-screen-size) {
  .model {
    opacity: 1;

    &:hover {
      transform: none;
    }
  }
}
