<div id="contact">
  <footer>
    <h2>{{ translationService.translations.contact.header }}</h2>
    <address>
      <div class="contact-us">
        <div class="karolina">
          <img src="assets/images/karolina-square.jpg" alt="Karolina picture" />
          <div class="karolina-details">
            <span>Karolina</span>
            <small
              ><i>{{
                translationService.translations.contact.salesDepartment
              }}</i></small
            >
            <span>tel. <a href="tel:48664457352">+48 66 44 57 352</a></span>
            <a href="mailto:dampol.sales@gmail.com">dampol.sales@gmail.com</a>
          </div>
        </div>
        <div class="address">
          <span>Dampol Investment Sp. z o.o.</span>
          <span>ul. Gliwicka 20a</span>
          <span>42-677 Czekanów</span>
          <span>{{ translationService.translations.contact.poland }}</span>
        </div>
      </div>
      <div class="socials">
        <a
          href="https://www.facebook.com/dampolpawilony/"
          target="_blank"
          rel="noreferrer"
          ><mat-icon>facebook</mat-icon></a
        >
        <a
          href="https://www.instagram.com/dampol_investment/"
          target="_blank"
          rel="noreferrer"
          ><mat-icon svgIcon="instagram"></mat-icon
        ></a>
      </div>
    </address>
  </footer>
</div>
