<div class="contact">
  <section>
    <h3>{{ translations.contact.header }}</h3>
    <address>
      <div class="address">
        <div>
          <span>Karolina Guzek</span>
          <small
            ><i>{{ translations.contact.salesDepartment }}</i></small
          >
          <span>tel. <a href="tel:48664457352">+48 66 44 57 352</a></span>
          <a href="mailto:dampol.sales@gmail.com">dampol.sales@gmail.com</a>
        </div>
        <div>
          <span>ul. Gliwicka 20a</span>
          <span>42-677 Czekanów</span>
          <span>{{ translations.contact.poland }}</span>
        </div>
      </div>
      <div class="socials">
        <a
          href="https://www.facebook.com/dampolpawilony/"
          target="_blank"
          rel="noreferrer"
          ><mat-icon>facebook</mat-icon></a
        >
        <a
          href="https://www.instagram.com/dampolpawilony/"
          target="_blank"
          rel="noreferrer"
          ><mat-icon svgIcon="instagram"></mat-icon
        ></a>
      </div>
    </address>
  </section>
</div>
