@import "variables.scss";

.models {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  margin-bottom: 50px;
  padding: 0 15vw;
}

@media only screen and (max-width: $medium-screen-size) {
  .models {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 10vw;
  }
}

@media only screen and (max-width: $small-screen-size) {
  .models {
    grid-template-columns: 1fr;
    padding: 0 5%;
  }
}
