@import "variables.scss";

.columns {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 50px;
  padding: 0 100px;
}

.models {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

section {
  color: #222;
}

@media only screen and (max-width: $medium-screen-size) {
  .columns {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: $small-screen-size) {
  .columns {
    padding: 0 5%;
  }
}
