@import "variables.scss";

section {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
  color: $color-text-secondary;
}

@media only screen and (max-width: $medium-screen-size) {
  section {
    width: 70%;
  }
}

@media only screen and (max-width: $small-screen-size) {
  section {
    width: 90%;
  }
}
