<div
  class="model"
  (keydown.ArrowRight)="nextImage()"
  (keydown.ArrowLeft)="previousImage()"
  (click)="navigate($event)"
>
  <a class="model-content" [routerLink]="'/products/' + modelNumber">
    <h3>Model {{ modelNumber }}</h3>
    <p>{{ modelDescription }}</p>
    <div class="image-carousel">
      <img
        [src]="
          'assets/images/models/' +
          modelNumber +
          '/model-' +
          modelNumber +
          '-image-' +
          selectedImage +
          '.jpg'
        "
        [alt]="modelDescription + ' preview'"
      />
    </div>
  </a>
  <div class="image-scroller" #imageScroller>
    <button
      class="btn-image-scroller"
      (click)="previousImage()"
      [title]="translations.products.prev + ' ' + translations.products.image"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      *ngFor="let _ of [].constructor(model.numImages); index as i"
      [class]="'indicator' + (i + 1 === selectedImage ? ' active' : '')"
      (click)="selectedImage = i + 1"
      [title]="translations.products.image + ' ' + (i + 1)"
    >
      <mat-icon>fiber_manual_record</mat-icon>
    </button>
    <button
      class="btn-image-scroller"
      (click)="nextImage()"
      [title]="translations.products.next + ' ' + translations.products.image"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
