<div
  class="model"
  (keydown.ArrowRight)="nextImage()"
  (keydown.ArrowLeft)="previousImage()"
>
  <h3>Model {{ modelNumber }}</h3>
  <p>{{ modelDescription }}</p>
  <div class="image-carousel">
    <button
      class="btn-image-scroller"
      *ngIf="!useMobileLayout"
      (click)="previousImage()"
      [title]="translations.products.prev + ' ' + translations.products.image"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <img
      [src]="
        'assets/images/models/' +
        modelNumber +
        '/model-' +
        modelNumber +
        '-image-' +
        selectedImage +
        '.jpg'
      "
      [alt]="modelDescription + ' preview'"
    />
    <button
      class="btn-image-scroller"
      *ngIf="!useMobileLayout"
      (click)="nextImage()"
      [title]="translations.products.next + ' ' + translations.products.image"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="selection-indicators">
    <button
      class="btn-image-scroller"
      *ngIf="useMobileLayout"
      (click)="previousImage()"
      [title]="translations.products.prev + ' ' + translations.products.image"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button
      *ngFor="let _ of [].constructor(model.numImages); index as i"
      [class]="'indicator' + (i + 1 === selectedImage ? ' active' : '')"
      (click)="selectedImage = i + 1"
      [title]="translations.products.image + ' ' + (i + 1)"
    >
      <mat-icon>fiber_manual_record</mat-icon>
    </button>
    <button
      class="btn-image-scroller"
      *ngIf="useMobileLayout"
      (click)="nextImage()"
      [title]="translations.products.next + ' ' + translations.products.image"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <div class="button-container">
    <h3 class="btn">
      <a [routerLink]="'/products/' + modelNumber">{{
        translations.products.customise
      }}</a>
    </h3>
  </div>
</div>
