<nav [class]="isMenuOpen ? 'open' : 'closed'">
  <ul [class]="'navbar-list'">
    <li class="header" (click)="isMenuOpen = false">
      <a routerLink="/">
        <img src="assets/images/dampol-logo.jpg" [alt]="translationService.translations.alt.dampolLogo" />
        <p class="serif title">Dampol</p>
      </a>
    </li>
    <div class="links">
      <ng-container *ngFor="let link of translationService.translations.navbar | keyvalue: originalOrder">
        <app-navbar-link
          [link]="link.key"
          [label]="link.value"
          (click)="isMenuOpen = false"
          [isButton]="link.key === 'products'"
        ></app-navbar-link>
      </ng-container>
      <app-language-select></app-language-select>
    </div>
  </ul>
  <app-hamburger
    (click)="isMenuOpen = !isMenuOpen"
    [isDark]="showDarkHamburger"
    [isMenuOpen]="isMenuOpen"
  ></app-hamburger>
</nav>
