@import "variables.scss";

nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;

  .hamburger-menu {
    visibility: hidden;
    position: fixed;
    transform: scale(1.5);
    top: 10px;
    right: 10px;
    z-index: 2;
    transition: color 500ms ease;

    &.dark {
      color: #444;
    }
  }

  .navbar-list {
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 10px 130px;
    width: 100%;
    background: linear-gradient(45deg, #191a22ed, #36384dda);
    box-shadow: 0 0 10px #111;
    z-index: 1;

    .header {
      font-family: "Pacifico", cursive;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-right: auto;

      img {
        width: 35px;
        height: 30px;
      }
    }
  }

  &.open .hamburger-menu {
    color: unset;
  }
}

.language {
  display: flex;
  gap: 5px;
  align-items: center;
}

.language-selector {
  position: relative;
  width: 125px;
  cursor: pointer;
  justify-content: center;
  white-space: nowrap;

  mat-icon {
    transition: transform 200ms ease;
  }

  &.open {
    mat-icon {
      transform: rotate(180deg);
    }

    .language-list {
      visibility: visible;
      opacity: 1;
    }
  }

  .language-list {
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms ease;
    flex-direction: column;
    position: absolute;
    background-color: grey;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
    width: 100%;
    top: 30px;

    .language {
      padding: 5px;
      border: 3px solid transparent;
      border-radius: 5px;
      transition: inherit;

      &:hover {
        background-color: #444;
      }

      &.active {
        transition: all 550ms ease-in;
        background-color: darkcyan;
        border-color: teal;
      }
    }
  }
}

@media only screen and (max-width: $medium-screen-size) {
  .navbar-list {
    padding: 10px 15px !important;
    gap: 2em !important;
  }

  .header {
    margin-left: 10.5%;
  }
}

@media only screen and (max-width: $small-screen-size) {
  .navbar-list {
    gap: 5vw !important;
  }

  .header {
    margin-left: 5%;
  }
}

@media only screen and (max-width: $tiny-screen-size) {
  .header {
    margin: 0 !important;
  }

  .hamburger-menu {
    visibility: visible !important;
    top: unset;
  }

  .navbar-list {
    position: fixed;
    flex-direction: column;
    padding: 25px 0px !important;
    transition: all 500ms ease;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 10px !important;
    background: linear-gradient(45deg, #191a22fc, #36384dfa);

    .closed & {
      transform: translateY(-100%);
      box-shadow: none !important;
    }
  }
}
