@use "variables.scss";

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 1;
  color: variables.$color-text-secondary;

  .navbar-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px 150px;
    width: 100%;
    background: linear-gradient(45deg, #191a22ed, #36384dda);
    box-shadow: 0 0 10px #111;
    backdrop-filter: blur(6px);

    .links {
      display: flex;
      align-items: center;
      gap: 50px;
    }

    .header {
      a {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 35px;
          height: 30px;
        }

        .title {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: variables.$medium-screen-size) {
  .navbar-list {
    padding: 10px 15px !important;

    .links {
      gap: 2em !important;
    }
  }

  .header {
    margin-left: 10.5%;
  }
}

@media only screen and (max-width: variables.$small-screen-size) {
  .header {
    margin-left: 2%;
  }

  .navbar-list .links {
    gap: 5vw !important;

    :first-child {
      display: none;
    }
  }
}

@media only screen and (max-width: variables.$tiny-screen-size) {
  .header {
    margin: 0 !important;
    font-size: 2rem;

    img {
      display: none;
    }
  }

  nav.closed {
    visibility: hidden;
  }

  .navbar-list {
    left: 0;
    flex-direction: column;
    padding: 25px 0px !important;
    transition: all 500ms ease;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 10px !important;
    background: linear-gradient(45deg, #191a22fc, #36384dfa);

    .links {
      flex-direction: column;
      gap: 50px !important;

      :first-child {
        display: unset;
      }
    }

    .closed & {
      transform: translateY(-100%);
      box-shadow: none !important;
    }
  }
}
