<nav [class]="isMenuOpen ? 'open' : 'closed'">
  <ul [class]="'navbar-list'">
    <li class="header" (click)="isMenuOpen = false">
      <a routerLink="/"
        ><img
          src="assets/images/dampol-logo.jpg"
          [alt]="translationService.translations.alt.dampolLogo"
        />
        <h1>Dampol</h1></a
      >
    </li>
    <div class="links">
      <ng-container
        *ngFor="
          let link of translationService.translations.navbar
            | keyvalue : originalOrder
        "
      >
        <app-navbar-link
          [link]="link.key"
          [label]="link.value"
          (click)="isMenuOpen = false"
          [isButton]="link.key === 'products'"
        ></app-navbar-link>
      </ng-container>
      <app-language-select></app-language-select>
    </div>
  </ul>
  <mat-icon
    class="hamburger-menu{{ showDarkHamburger ? ' dark' : '' }}"
    (click)="isMenuOpen = !isMenuOpen"
    >{{ isMenuOpen ? "close" : "menu" }}</mat-icon
  >
</nav>
