<nav [class]="isMenuOpen ? 'open' : 'closed'">
  <ul [class]="'navbar-list'">
    <li class="header">
      <img
        src="assets/images/dampol-logo.jpg"
        [alt]="translations.alt.dampolLogo"
      />
      <h1>Dampol</h1>
    </li>
    <app-navbar-link
      *ngFor="let link of translations.navbar | keyvalue : originalOrder"
      [link]="link.key"
      [label]="link.value"
      (click)="scrollToSection(link.key)"
      [isButton]="link.key === 'products'"
    ></app-navbar-link>
    <app-language-select
      [translations]="translations"
      [selectedLanguage]="selectedLanguage"
      [setSelectedLanguage]="setSelectedLanguage"
    ></app-language-select>
  </ul>
  <mat-icon
    [class]="'hamburger-menu' + (onSecondPage ? ' dark' : '')"
    (click)="isMenuOpen = !isMenuOpen"
    >{{ isMenuOpen ? "close" : "menu" }}</mat-icon
  >
</nav>
