@import "variables.scss";

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;

  .hamburger-menu {
    visibility: hidden;
    position: inherit;
    transform: scale(1.5);
    top: 10px;
    right: 10px;
    z-index: 2;
    transition: color 500ms ease;

    &.dark {
      color: #444;
    }
  }

  .navbar-list {
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding: 10px 130px;
    width: 100%;
    background: linear-gradient(45deg, #191a22ed, #36384dda);
    box-shadow: 0 0 10px #111;

    .header {
      margin-right: auto;

      a {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          width: 35px;
          height: 30px;
        }
      }
    }
  }

  &.open .hamburger-menu {
    color: unset;
  }
}

@media only screen and (max-width: $medium-screen-size) {
  .navbar-list {
    padding: 10px 15px !important;
    gap: 2em !important;
  }

  .header {
    margin-left: 10.5%;
  }
}

@media only screen and (max-width: $small-screen-size) {
  .navbar-list {
    gap: 3% !important;
  }

  .header {
    margin-left: 2%;
  }
}

@media only screen and (max-width: $tiny-screen-size) {
  .hamburger-menu {
    visibility: visible !important;
    top: unset;
  }

  .header {
    margin: 0 !important;
  }

  .navbar-list {
    position: inherit;
    flex-direction: column;
    padding: 25px 0px !important;
    transition: all 500ms ease;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    gap: 10px !important;
    background: linear-gradient(45deg, #191a22fc, #36384dfa);

    .closed & {
      transform: translateY(-100%);
      box-shadow: none !important;
    }
  }
}
