@use "variables.scss";

.models {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  gap: 50px;
  margin: 0 auto 50px;
  max-width: 85vw;
}

@media only screen and (max-width: variables.$medium-screen-size) {
  .models {
    grid-template-columns: repeat(2, 1fr);
    max-width: 90vw;
  }
}

@media only screen and (max-width: variables.$small-screen-size) {
  .models {
    grid-template-columns: 1fr;
    place-items: center;
  }
}

@media only screen and (max-width: variables.$tiny-screen-size) {
  .models {
    max-width: 95%;
  }
}
