<section>
  <div class="model active">
    <app-model-preview [modelNumber]="modelNumber"></app-model-preview>
    <div class="model-body">
      <form [formGroup]="form">
        <h3>{{ translationService.translations.model.header }}</h3>
        <ol class="form-sections">
          <li>
            <fieldset formGroupName="dimensions">
              <legend>
                {{ translationService.translations.model.dimensions }}
              </legend>
              <label>
                {{ translationService.translations.model.length }}:
                {{ formatDimension(form.value.dimensions?.length) }}
                <input
                  formControlName="length"
                  type="range"
                  min="2"
                  max="12"
                  step="0.5"
                  required
                />
              </label>
              <label>
                {{ translationService.translations.model.width }}:
                {{ formatDimension(form.value.dimensions?.width) }}
                <input
                  formControlName="width"
                  type="range"
                  min="2"
                  max="9"
                  step="0.5"
                />
              </label>
            </fieldset>
          </li>
          <li>
            <fieldset formGroupName="features">
              <legend>
                {{ translationService.translations.model.features }}
              </legend>
              <app-input-layered
                formControlName="toilet"
                [outerLabel]="translationService.translations.model.toiletLabel"
                [innerLabel]="translationService.translations.model.shower"
              >
              </app-input-layered>
              <app-input-layered
                formControlName="kitchen"
                [outerLabel]="
                  translationService.translations.model.kitchenAnnexe
                "
                [innerLabel]="
                  translationService.translations.model.separationWall
                "
              >
              </app-input-layered>
              <app-input-layered
                formControlName="partitionWall"
                [outerLabel]="
                  translationService.translations.model.partitionWall
                "
                [innerLabel]="
                  translationService.translations.model.internalDoor
                "
              >
              </app-input-layered>
            </fieldset>
          </li>
          <li>
            <fieldset class="windows array-container">
              <legend>
                {{ translationService.translations.model.doors }}
              </legend>
              <ol formArrayName="doors">
                <li
                  *ngFor="let door of doors.controls; index as i"
                  [formGroupName]="i"
                >
                  <label
                    >{{ translationService.translations.model.location }}
                    <select formControlName="location">
                      <option
                        *ngFor="
                          let option of getDropdownOptions('doors');
                          index as key
                        "
                        [value]="key"
                      >
                        {{ option }}
                      </option>
                    </select>
                  </label>
                  <div class="radios-container">
                    <h4>
                      {{ translationService.translations.model.material }}
                    </h4>
                    <div class="radios">
                      <label>
                        {{ translationService.translations.model.aluminium }}
                        <input
                          formControlName="material"
                          type="radio"
                          value="aluminium"
                          required
                        />
                      </label>
                      <label>
                        {{ translationService.translations.model.aluminium }}
                        {{ translationService.translations.model.withGlass }}
                        <input
                          formControlName="material"
                          type="radio"
                          value="aluminium-glass"
                          required
                        />
                      </label>
                      <label>
                        {{ translationService.translations.model.aluminium }}
                        {{ translationService.translations.model.double }}
                        <input
                          formControlName="material"
                          type="radio"
                          value="aluminium-double"
                          required
                        />
                      </label>
                      <label>
                        {{ translationService.translations.model.steel }}
                        <input
                          formControlName="material"
                          type="radio"
                          value="steel"
                          required
                        />
                      </label>
                    </div>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-add"
                      role="button"
                      (click)="doors.insert(i + 1, createDoor())"
                    >
                      {{ translationService.translations.model.addDoor }}
                    </button>
                    <button
                      class="btn btn-del"
                      role="button"
                      (click)="doors.removeAt(i)"
                      [disabled]="doors.length < 2"
                    >
                      {{ translationService.translations.model.removeDoor }}
                    </button>
                  </div>
                </li>
              </ol>
            </fieldset>
          </li>
          <li>
            <fieldset class="windows array-container">
              <legend>
                {{ translationService.translations.model.windows }}
              </legend>
              <ol formArrayName="windows">
                <li
                  *ngFor="let window of windows.controls; index as i"
                  [formGroupName]="i"
                >
                  <label
                    >{{ translationService.translations.model.dimensions }}
                    <select formControlName="dimensions">
                      <option
                        *ngFor="
                          let option of getDropdownOptions('windows');
                          index as key
                        "
                        [value]="key"
                      >
                        {{ option }}
                      </option>
                    </select>
                  </label>
                  <div class="radios-container">
                    <h4>
                      {{ translationService.translations.model.material }}
                    </h4>
                    <div class="radios">
                      <label>
                        {{ translationService.translations.model.aluminium }}
                        <input
                          formControlName="material"
                          type="radio"
                          value="aluminium"
                          required
                        />
                      </label>
                      <label>
                        {{ translationService.translations.model.pcv }}
                        <input
                          formControlName="material"
                          type="radio"
                          value="pcv"
                          required
                        />
                      </label>
                    </div>
                  </div>
                  <div class="radios-container">
                    <h4>
                      {{ translationService.translations.model.glazure }}
                    </h4>
                    <div class="radios">
                      <label>
                        {{ translationService.translations.model.doubleGlazed }}
                        <input
                          formControlName="windowGlaze"
                          type="radio"
                          value="double"
                          required
                        />
                      </label>
                      <label>
                        {{ translationService.translations.model.doubleGlazed }}
                        {{ translationService.translations.model.fixed }}
                        <input
                          formControlName="windowGlaze"
                          type="radio"
                          value="fixed"
                          required
                        />
                      </label>
                      <label>
                        {{ translationService.translations.model.tripleGlazed }}
                        <input
                          formControlName="windowGlaze"
                          type="radio"
                          value="triple"
                          required
                        />
                      </label>
                    </div>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-add"
                      role="button"
                      (click)="windows.insert(i + 1, createWindow())"
                    >
                      {{ translationService.translations.model.addWindow }}
                    </button>
                    <button
                      class="btn btn-del"
                      role="button"
                      (click)="windows.removeAt(i)"
                      [disabled]="windows.length < 2"
                    >
                      {{ translationService.translations.model.removeWindow }}
                    </button>
                  </div>
                </li>
              </ol>
            </fieldset>
          </li>
        </ol>
        <h3 class="price">
          {{ translationService.translations.model.total }}:
          <strong>{{
            translationService.formatPrice(getContainerPrice())
          }}</strong>
        </h3>
        <div class="btn-container">
          <button class="btn" (click)="submit()">
            <h3>{{ translationService.translations.model.order }}</h3>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
