<section>
  <div class="model active">
    <app-model-preview [modelNumber]="modelNumber"></app-model-preview>
    <div class="model-body">
      <form [formGroup]="form">
        <h3>Customise your container</h3>
        <ol class="form-sections">
          <li>
            <fieldset formGroupName="dimensions">
              <legend>Dimensions</legend>
              <label>
                Length: {{ formatDimension(form.value.dimensions?.length) }}
                <input
                  formControlName="length"
                  type="range"
                  min="2"
                  max="12"
                  step="0.5"
                />
              </label>
              <label>
                Width: {{ formatDimension(form.value.dimensions?.width) }}
                <input
                  formControlName="width"
                  type="range"
                  min="2"
                  max="9"
                  step="0.5"
                />
              </label>
            </fieldset>
          </li>
          <li>
            <fieldset formGroupName="features">
              <legend>Features</legend>
              <div class="layered-input">
                <label>
                  Toilet (WC, sink, cupboard, water heater)
                  <input formControlName="bathroom" type="checkbox" />
                </label>
                <label>
                  Shower
                  <input formControlName="shower" type="checkbox" />
                </label>
              </div>
              <div class="layered-input">
                <label>
                  Kitchen annexe
                  <input formControlName="kitchen" type="checkbox" />
                </label>
                <label
                  [class]="form.value.features?.kitchen ? '' : ' disabled'"
                >
                  Separation wall
                  <input formControlName="walledOffKitchen" type="checkbox" />
                </label>
              </div>
              <div class="layered-input">
                <label>
                  Partition wall
                  <input formControlName="partitionWallDoor" type="checkbox" />
                </label>
                <label>
                  Partition wall internal door
                  <input formControlName="partitionWallDoor" type="checkbox" />
                </label>
              </div>
            </fieldset>
          </li>
          <li>
            <fieldset class="windows array-container">
              <legend>Additional doors</legend>
              <label
                >Additional doors<input
                  type="checkbox"
                  formControlName="additionalDoors"
              /></label>
              <ol *ngIf="form.value.additionalDoors" formArrayName="doors">
                <li
                  *ngFor="let door of doors.controls; index as i"
                  [formGroupName]="i"
                >
                  <label
                    >Location
                    <select formControlName="location">
                      <option
                        *ngFor="let option of doorLocations; index as key"
                        [value]="key"
                      >
                        {{ option }}
                      </option>
                    </select>
                  </label>
                  Material
                  <div class="radios">
                    <label>
                      Steel
                      <input
                        formControlName="material"
                        type="radio"
                        value="steel"
                        required
                      />
                    </label>
                    <label>
                      Aluminium
                      <input
                        formControlName="material"
                        type="radio"
                        value="aluminium"
                        required
                      />
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-add"
                      role="button"
                      (click)="windows.insert(i + 1, createWindow())"
                    >
                      Add window
                    </button>
                    <button
                      class="btn btn-del"
                      role="button"
                      (click)="windows.removeAt(i)"
                      [disabled]="windows.length < 2"
                    >
                      Remove window
                    </button>
                  </div>
                </li>
              </ol>
            </fieldset>
          </li>
          <li>
            <fieldset class="windows array-container">
              <legend>Windows</legend>
              <ol formArrayName="windows">
                <li
                  *ngFor="let window of windows.controls; index as i"
                  [formGroupName]="i"
                >
                  <label
                    >Dimensions
                    <select formControlName="dimensions">
                      <option
                        *ngFor="let option of windowDimensions; index as key"
                        [value]="key"
                      >
                        {{ option }}
                      </option>
                    </select>
                  </label>
                  Material
                  <div class="radios">
                    <label>
                      PCV
                      <input
                        formControlName="material"
                        type="radio"
                        value="pcv"
                        required
                      />
                    </label>
                    <label>
                      Aluminium
                      <input
                        formControlName="material"
                        type="radio"
                        value="aluminium"
                        required
                      />
                    </label>
                  </div>
                  Glazure
                  <div class="radios">
                    <label>
                      Double glazed
                      <input
                        formControlName="windowGlaze"
                        type="radio"
                        value="double"
                        required
                      />
                    </label>
                    <label>
                      Triple glazed
                      <input
                        formControlName="windowGlaze"
                        type="radio"
                        value="triple"
                        required
                      />
                    </label>
                  </div>
                  <div class="buttons">
                    <button
                      class="btn btn-add"
                      role="button"
                      (click)="windows.insert(i + 1, createWindow())"
                    >
                      Add window
                    </button>
                    <button
                      class="btn btn-del"
                      role="button"
                      (click)="windows.removeAt(i)"
                      [disabled]="windows.length < 2"
                    >
                      Remove window
                    </button>
                  </div>
                </li>
              </ol>
            </fieldset>
          </li>
        </ol>
        <h3 class="price">
          Total: <strong>{{ formatCurrency(price) }}</strong>
        </h3>
        <div class="btn-container">
          <button class="btn" (click)="submit()"><h3>Order</h3></button>
        </div>
      </form>
    </div>
  </div>
</section>
