@use "variables.scss";

.language {
  display: flex;
  gap: 5px;
  align-items: center;

  > span {
    margin-bottom: 3px;
  }
}

.language-selector {
  position: relative;
  width: 125px;
  cursor: pointer;
  justify-content: center;
  white-space: nowrap;

  mat-icon {
    transition: transform 200ms ease;
  }

  &.open {
    mat-icon {
      transform: rotate(180deg);
    }

    .language-list {
      visibility: visible;
      opacity: 1;
      scale: 100%;
    }
  }

  &.closed .language-list {
    visibility: hidden;
    opacity: 0;
    scale: 0%;
  }

  .language-list {
    display: flex;
    transition: all 250ms ease;
    flex-direction: column;
    position: absolute;
    background-color: #3d3f50cc;
    backdrop-filter: blur(4px);
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
    width: 100%;
    top: 30px;
    transform-origin: top;

    .language {
      padding: 5px;
      border: 3px solid transparent;
      border-radius: 5px;
      transition: inherit;

      &:hover {
        color: variables.$color-contrast-light;
        background-color: #eaeaeacc;
      }

      &.selected {
        color: variables.$color-contrast-dark;
        transition: all 550ms ease-in;
        background-color: #f0f0f0fc;
        border-color: white;
      }
    }
  }
}
