<section>
  <div class="model active">
    <app-model-preview [modelNumber]="modelNumber"></app-model-preview>
    <div class="model-body">
      <form [formGroup]="form" [action]="baseHref" method="get" target="_blank">
        <h3>{{ translationService.translations.model.header }}</h3>
        <ol class="form-sections">
          <li>
            <fieldset formGroupName="dimensions" [disabled]="true">
              <legend>
                {{ translationService.translations.model.dimensions }}
              </legend>
              <label>
                {{ translationService.translations.model.length }}:
                {{ formatDimension(form.value.dimensions?.length) }}
                <input formControlName="length" type="range" min="2" max="12" step="0.5" />
              </label>
              <label>
                {{ translationService.translations.model.width }}:
                {{ formatDimension(form.value.dimensions?.width) }}
                <input formControlName="width" type="range" min="2" max="9" step="0.5" />
              </label>
            </fieldset>
          </li>
          <li>
            <fieldset formGroupName="features">
              <legend>
                {{ translationService.translations.model.features }}
              </legend>
              <app-input-layered
                formControlName="airConditioning"
                [outerLabel]="translationService.translations.model.airConditioning"
                [innerLabel]="translationService.translations.model.airConditioning2"
              >
              </app-input-layered>
              <app-input-layered
                formControlName="toilet"
                [outerLabel]="translationService.translations.model.toiletLabel"
                [innerLabel]="translationService.translations.model.shower"
              >
              </app-input-layered>
              <app-input-layered
                formControlName="kitchen"
                [outerLabel]="translationService.translations.model.kitchenAnnexe"
                [innerLabel]="translationService.translations.model.separationWall"
              >
              </app-input-layered>
              <app-input-layered
                formControlName="partitionWall"
                [outerLabel]="translationService.translations.model.partitionWall"
                [innerLabel]="translationService.translations.model.internalDoor"
              >
              </app-input-layered>
            </fieldset>
          </li>
          <li id="customise">
            <fieldset>
              <legend>{{ translationService.translations.model.customisation }}</legend>
              {{ translationService.translations.model.specialFeatureHeader }}
              <ul style="list-style-type: none">
                <!-- iterate through object values -->
                <li *ngFor="let feature of translationService.translations.model.specialFeatures | keyvalue">
                  <mat-icon>check</mat-icon>
                  {{ feature.value }}
                </li>
              </ul>
              <textarea
                placeholder="{{ translationService.translations.model.placeholderSpecialFeatures }}"
                formControlName="specialFeatures"
                resize
              ></textarea>
            </fieldset>
          </li>
          <li>
            <fieldset formGroupName="customerInformation">
              <legend>
                {{ translationService.translations.model.customerInformation }}
              </legend>
              <label>
                {{ translationService.translations.model.name }}
                <input
                  formControlName="name"
                  name="name"
                  class="box"
                  [placeholder]="translationService.translations.model.placeholderName"
                  required
                />
              </label>
              <label>
                {{ translationService.translations.model.phoneNumber }}
                <app-input-tel
                  formControlName="phoneNumber"
                  [options]="{
                    preferredCountries: [(regionService.region ?? translationService.translations.code).toUpperCase()],
                  }"
                  [required]="true"
                ></app-input-tel>
              </label>
            </fieldset>
          </li>
        </ol>
        <h3 class="price">
          {{ translationService.translations.model.total }}:
          <strong>{{ translationService.formatPrice(totalPrice) }}</strong>
        </h3>
        <div class="btn-container">
          <button class="btn" (click)="submit()">
            <h3>{{ translationService.translations.model.submit }}</h3>
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
