@import "variables.scss";

.background {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
}

h1 {
  position: absolute;
  top: 18vh;
  margin: 0;
  width: 100%;
  font-size: 5rem;
  color: #201c30;
}

.get-started {
  margin-top: 200px;
  box-shadow: 0 0 12px #1e1e1e;
  z-index: 0;

  mat-icon {
    transform: scale(1.5);
    margin: 0 -1rem 5px 0;
  }
}

@media only screen and (max-width: $tiny-screen-size) {
  .background {
    gap: 20px;
  }

  h1 {
    position: unset;
    color: unset;
  }

  .get-started {
    margin-top: 0;

    mat-icon {
      transform: none;
    }
  }
}
