<app-navbar
  [translations]="translations"
  [setSelectedLanguage]="setSelectedLanguage"
  [selectedLanguage]="selectedLanguage"
  [onSecondPage]="onSecondPage"
></app-navbar>
<app-scroll-to-top
  [translations]="translations"
  [onSecondPage]="onSecondPage"
></app-scroll-to-top>
<app-header [translations]="translations"></app-header>
<app-products [translations]="translations"></app-products>
<hr />
<app-about [translations]="translations"></app-about>
<app-contact [translations]="translations"></app-contact>
