@use "variables.scss";

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 150px 0;
  font-size: 3rem;

  h2 {
    margin: 0;
    padding: 0;
    font-size: 2em;
  }

  p {
    margin: 0;
  }

  code {
    background-color: #eee8;
    padding: 5px;
    border-radius: 0.2em;
    border: 0.1em solid #eee;
  }
}

@media only screen and (max-width: variables.$medium-screen-size) {
  section {
    font-size: 2rem;
  }
}

@media only screen and (max-width: variables.$small-screen-size) {
  section {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: variables.$tiny-screen-size) {
  section {
    font-size: unset;

    h2 {
      font-size: 4rem;
    }
  }
}
