<div class="input-layered">
  <label>
    <div>
      {{ outerLabel }}
      <span *ngIf="outerValue" class="price">{{
        formatPrice(getPrice())
      }}</span>
    </div>
    <input
      type="checkbox"
      [ngModel]="outerValue"
      [checked]="outerValue"
      (click)="outerValue = !outerValue; onChange()"
    />
  </label>
  <label [class]="outerValue ? '' : 'disabled'">
    <div>+ {{ innerLabel }}</div>
    <input
      type="checkbox"
      [ngModel]="innerValue"
      [checked]="innerValue"
      (click)="innerValue = !innerValue; onChange()"
      [disabled]="!outerValue"
    />
  </label>
</div>
