@import "variables.scss";

.input-layered {
  padding-right: 0.5rem;

  > :last-child {
    margin-left: 1.5rem;
  }

  label {
    @include radiobutton-checkbox-label();

    > div {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}

.disabled {
  color: #999;
}
