@import "variables.scss";

li a {
  white-space: nowrap;
}

.link {
  transition: all 200ms ease;

  h3 {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      background: darkcyan;
      width: 0;
      height: 2px;
      transition: all 200ms ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

@media only screen and (max-width: $medium-screen-size) {
  li {
    font-size: medium;
  }
}

@media only screen and (max-width: $small-screen-size) {
  li {
    font-size: small;
  }
}

@media only screen and (max-width: $tiny-screen-size) {
  li {
    font-size: large;
  }
}
