@import "variables.scss";

li {
  a {
    position: relative;
    font-weight: bold;
    transition: all 200ms ease;
    text-transform: uppercase;
    white-space: nowrap;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      background: darkcyan;
      width: 0;
      height: 2px;
      transition: all 200ms ease;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.btn a:after {
  all: unset;
}

@media only screen and (max-width: $small-screen-size) and (min-width: calc($tiny-screen-size + 1px)) {
  .btn {
    display: none;
  }
}
